<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.future.quote">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>

        <activity android:name=".ui.search.InstrumentSearchActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            />
        <activity android:name=".ui.futureinfo.FutureInfoActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            />
    </application>

</manifest>